.ResultAddButton {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: green;
  border: none;
  color: white;
  text-transform: uppercase;
  transition: 0.4s;

  &:hover {
    letter-spacing: 1px;
    cursor: pointer;
  }
}