@keyframes scales {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-40%) scale(1.4);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes moveCharacter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes vanishes {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
