.navbar {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: royalblue;
  border: 1px solid black;
  border-radius: 10px;
  
  & a {
    display: block;
    padding: 4px 7px;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
}