.exerciseCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  margin: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px black;
  animation: scaleOnStart 0.3s linear;

  .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: black;
    color: white;
    user-select: none;
    transition: 0.4s;
    letter-spacing: 1px;

    &:hover {
      background-color: darkred;
      letter-spacing: 2px;
    }
  }

  .data {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .description {
    height: 90px;
    overflow-y: auto;
  }

  .linkContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .link {
    background-color: royalblue;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.4s;
    user-select: none;

    &:hover {
      background-color: dodgerblue;
    }
  }

  .link:nth-of-type(2n) {
    background-color: brown;

    &:hover {
      background-color: crimson;
    }
  }
}
