.Layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 56px;
}

.Title {
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding: 10px 0;
  transition: 0.4s;
  user-select: none;

  &:hover {
    letter-spacing: 2px;
  }
}

.ChildrenContent {
  flex-grow: 1;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
}