.LanguageSelect {
  position: fixed;
  right: 20px;
  top: 20px;

  select {
    font-size: 20px;
    padding: 5px 10px;
    background-color: #0563af;
    color: white;
    box-shadow: 1px 1px 4px 0 black;
    border: none;
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background-color: dodgerblue;
    pointer-events: none;    
  }
}